form {
    width: 25em;
    margin: auto;
    border-radius: 1em;
    box-shadow: 0 0 0.5em #f1f1f1;
    padding-bottom: 1.5em;
}
div {
    padding: 1em;
    background-color: #2A88AD;
    color: white;
    text-shadow: 0 0 3px #1A7094;
    margin-bottom: 1.5em;
    border-radius: 1em 1em 0 0;
}
h1 {
    font-weight: normal;
    margin: 0;
}
h2 {
    font-weight: normal;
    font-size: 0.75em;
    margin: 0;
}
fieldset label, fieldset input, fieldset textarea {
    display: block;
    width: 100%;
    border-width: thin;
}
fieldset input, fieldset textarea {
    background-color: white;
    border-radius: 0.3em;
    box-shadow: inset 1px 1px 0 0 #888888;
    border: none;
}

fieldset {
    border: none;
    background-color: #f8f8f8;
    border-radius: 0.4em;
    margin-top: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0 1.5em 1.5em 1.5em;
}
legend {
    margin-bottom: 2em;
    margin-left: -4em;
    font-weight: bold;
    color: #2A88AD;
}
label {
    font-family: sans-serif;
    font-size: 0.7em;
    color: #888888;
}
fieldset label:last-of-type {
    padding-top: 0.8em;
}
button {
    margin-left: 1.8em;
    margin-top: 1em;
}
#agreed {
    margin-left: 3.8em;
    vertical-align: middle;
}
em {
    display: inline-block;
    background-color: #2A88AD;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    color: white;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.5em;
    margin-right: 1em;
    border: 2px solid white;
}

button {
    background-color: #2A88AD;
    border-radius: 0.4em;
    border: none;
    border-top: 3px solid #4c9bba;
    width: 6em;
    height: 2em;
    color: white;
}
