body {
    font-family: sans-serif;
}
form {
    width: 25em;
    margin: auto;
}
h1 {
    text-align: center;
    color: #5c5c5c;
}
form *:not(h1):not(button) {
    color: #bbbbbb;
}
p {
    vertical-align: middle;
    background-color: whitesmoke;
    text-align: center;
    height: 2em;
    margin: 0;
    line-height: 2em;
    font-size: 0.7em;
}
fieldset {
    padding: 0;
    border-radius: 0.3em;
    margin-bottom: 1.5em;
}
input {
    width: 99%;
    border: none;
    background-color: white;
    height: 2em;
}
legend {
    margin-left: 1em;
}

button {
    display: block;
    margin: auto;
    height: 3em;
    width: 9em;
    background-color: #2471ff;
    border: none;
    color: white;
    font-family: serif;
    border-bottom: 4px solid #5994ff;
}
